$alert-color: #721c24;
$alert-bg-color: #f8d7da;
$alert-border-color: #f5c6cb;

.error-alert {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $alert-bg-color;
    border: 1px solid $alert-border-color;
    border-radius: 10px;
    padding: 12px 20px;
    @extend %centered-between;
    max-width: 800px;
    width: 95%;
    box-shadow: $error-box-shadow;
    animation: slideDown 0.3s ease-out;

    &__content {
        display: flex;
        align-items: center;
    }

    &__icon {
        font-size: 36px;
        margin-right: 8px;
    }

    &__message {
        color: $alert-color;
        font-size: 30px;
        margin: 0;
    }

    &__close {
        background: none;
        border: none;
        color: $alert-color;
        font-size: 38px;
        cursor: pointer;
        padding: 0;
        margin-left: 10px;

        // встроенные sass функции для работы с цветом
        // lighten(color, amount), darken(color, amount)
        // opacify(color, amount), mix(color1, color2, weight)
        &:hover {
            color: darken($alert-color, 10%);
        }
    }
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
