%radius-card {
    border-radius: 8px;
}

.container {
    width: $card-width;
    height: $card-height;
    @extend %radius-card;

    position: relative;
    margin: auto;

    cursor: pointer;

    box-shadow: $main-box-shadow;

    .product__image {
        margin: 0;
        @extend %radius-card;
        @include fullsize-with-index(1);
        @extend %centered-element;
        flex-direction: column;
        @extend %full-size;
        img {
            max-width: $card-width;
            @extend %radius-card;
            max-height: $card-height;
            @extend %full-size;
            object-fit: cover;
        }

        .product__image_caption {
            position: absolute;
            z-index: 2;
            top: 30px;
            left: 0;
            width: 100%;
            height: 40px;
            font-size: 2rem;
            @extend %bold-upper-case;
            color: #e82e46;
        }
    }

    p {
        margin: 0;
    }
}

.overlay {
    @extend %radius-card;
    @include fullsize-with-index(3);
    @extend %full-size;

    @extend %card-temolate;

    gap: $gap-small;

    // использование переменных
    background: $bg-half-opacity;
    color: $bg-main;

    opacity: 0;
    transition: all 0.5s;
}

.items {
    padding: 0 10px;
    letter-spacing: 3px;
}

.head {
    font-size: 24px;
    line-height: 28px;
    overflow-y: hidden;
    text-overflow: ellipsis;

    transform: translateY(40px);
    transition: all 0.7s;

    // вложенность - древовидная структура, вес селектора увеличивается при вложении - как запись в строку нескольких селекторов
    hr {
        display: block;
        width: 0;

        border: none;
        border-bottom: solid 2px $bg-main;

        position: absolute;
        bottom: 0;
        left: 20px;

        transition: all 0.5s;
    }
}

.price {
    font-size: 22px;
    line-height: 130%;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}

.rate {
    @include left-center-aligned(16px);
    margin-bottom: 5px;
    margin-left: 10px;
    .rate__star {
        @include custom-icon-size();
    }
}

.description {
    max-height: 20%;
    overflow-y: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.container:hover .overlay {
    opacity: 1;
    & .head {
        transform: translateY(0px);
    }

    & hr {
        width: 75px;
        transition-delay: 0.4s;
    }

    & .price {
        transform: translateY(0px);
        transition-delay: 0.3s;
        opacity: 1;
    }
}
