body {
    margin: 0;
    padding: 0;
    padding: 40px;
    background-color: var(--backgroundPages);
}

#root {
    width: 100%;
    min-height: 100vh;
    margin: var(--auto-horizontal-margin);
    text-align: center;
    max-width: var(--desktop-max-width);
    margin: auto;
}
