:root {
    /* fonts */
    --base-font-family: Verdana, Helvetica, sans-serif;
    --base-font-size: 16px;

    /* colors, backgrounds */
    --backgroundPages: rgb(221, 221, 221);
    --backgroundButton: #e86630;
    --borderButton: #8d8da6;

    /* gaps, paddings, margins */
    --auto-horizontal-margin: 0 auto;

    --padding-small: 2rem;

    /* sizes */
    --desktop-max-width: 1240px;

    --card-width: 340px;
    --card-height: 450px;
    --error-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* shadows */
    --card-box-shadow: 0 0 5px #000;
}
